<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <style>
    .tareaRealizada {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div class="container">
    <div id="taskApp" class="col-sm-8 col-sm-offset-2">
      <h1>{{nameApp}}</h1>

      <form v-on:submit="agregarTarea">
        <input type="text" v-model="tareas.titulo" class="form-control">
        <input type="submit" value="Agregar Tarea" class="btn btn-block btn-success">
      </form>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Hecho!</th>
            <th>Tarea</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tarea in tareas">
            <td><input type="checkbox" v-model="tarea.hecho"></td>
            <td :class="{tareaRealizada: tarea.hecho}">{{tarea.titulo}}</td>
            <td>
              <button class="btn btn-danger" @click="eliminarTarea(tarea)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    new Vue({
      el: '#taskApp',
      data: {
        nameApp: 'Tareas Vue.js',
        tareas: [
          {
            titulo: 'tarea 1',
            hecho: false
          },
          {
            titulo: 'tarea 2',
            hecho: false
          },
          {
            titulo: 'tarea 3',
            hecho: false
          }
        ]
      },
      methods: {
        eliminarTarea(tarea){
          this.tareas.splice(this.tareas.indexOf(tarea), 1)
        },
        agregarTarea(e) {
          e.preventDefault()
          this.tareas.push({
            titulo: this.tareas.titulo,
            hecho: false
          })
          this.tareas.titulo = ""
        }
      }
    })
  </script>

</body>

</html>